In [3]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

Prob2:

In [11]:
def Z_and_P(x1, x2, sigma1, sigma2, n1, n2):
    z = (x1 - x2)/(math.sqrt(((sigma1 ** 2)/n1)+((sigma2 ** 2)/n2)))
    if(z < 0):
        p = stats.norm.cdf(z)
    else:
        p = 1 - stats.norm.cdf(z)
        print('z = ', z, ',', ' p-value = ', p)

In [15]:
Z_and_P(120, 100, 10, 10, 15, 15) # Machine B has lesser overall excavation time
# So Machine B is effective

z =  5.477225575051661 ,  p-value =  2.1602315269930727e-08

Prob4:

In [2]:
scipy.stats.f.ppf(q = 1 - .05, dfn = 14, dfd = 9)

3.0254727242822095

In [3]:
scipy.stats.f.ppf(q = .05, dfn = 14, dfd = 9)

0.37795884106897293

Prob6:

In [4]:
df_c = pd.read_excel('G:/IIT - nptel/Data Analytics with Python/data/canteen.xlsx'
)
df_c

   canteen1  canteen2  canteen3
0         4         3         5
1         6         2         8
2         7         1         2
3         2         7         2
4         5         6         2

In [5]:
df_c_new = pd.melt(df_c.reset_index(), id_vars = ['index'], value_vars = ['canteen1', 'canteen2', 'canteen3'])
df_c_new.columns = ['index', 'Treatments', 'value']
df_c_new

    index Treatments  value
0       0   canteen1      4
1       1   canteen1      6
2       2   canteen1      7
3       3   canteen1      2
4       4   canteen1      5
5       0   canteen2      3
6       1   canteen2      2
7       2   canteen2      1
8       3   canteen2      7
9       4   canteen2      6
10      0   canteen3      5
11      1   canteen3      8
12      2   canteen3      2
13      3   canteen3      2
14      4   canteen3      2

In [16]:
model = ols('value ~ C(Treatments)', data = df_c_new).fit()
model.summary()

C:\Users\suvar\Anaconda3\lib\site-packages\scipy\stats\stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.045
Model:                            OLS   Adj. R-squared:                 -0.114
Method:                 Least Squares   F-statistic:                    0.2841
Date:                Wed, 04 Mar 2020   Prob (F-statistic):              0.758
Time:                        00:23:57   Log-Likelihood:                -32.880
No. Observations:                  15   AIC:                             71.76
Df Residuals:                      12   BIC:                             73.88
Df Model:                           2
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     4.8000      1.083      4.431      0.001       2.440       7.160
C(Treatments)[T.canteen2]    -1.0000      1.532     -0.653      0.526      -4.338       2.338
C(Treatments)[T.canteen3]    -1.0000      1.532     -0.653      0.526      -4.338       2.338
==============================================================================
Omnibus:                        1.797   Durbin-Watson:                   1.776
Prob(Omnibus):                  0.407   Jarque-Bera (JB):                1.167
Skew:                           0.415   Prob(JB):                        0.558
Kurtosis:                       1.915   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
anova_t = sm.stats.anova_lm(model, typ = 1)
anova_t

                 df     sum_sq   mean_sq         F    PR(>F)
C(Treatments)   2.0   3.333333  1.666667  0.284091  0.757622
Residual       12.0  70.400000  5.866667       NaN       NaN

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

mc = MultiComparison(df_c_new['value'], df_c_new['Treatments'])
mcresult = mc.tukeyhsd(0.05)
mcresult.summary()

In [15]:
#help(pd.melt)

In [13]:
2/ math.sqrt(2/15)

5.477225575051661