In [78]:
import pandas as pd
import numpy as np
from scipy import stats
import math
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

In [13]:
a = [4, 3, 4]
b = [2, 4, 6]
c = [2, 1, 3]

In [14]:
stats.f_oneway(a, b, c)

F_onewayResult(statistic=1.9374999999999998, pvalue=0.22430679925928781)

Intro to pd.melt() command

In [76]:
data = pd.read_excel('G:/IIT - nptel/Data Analytics with Python/data/oneway.xlsx'
)

In [77]:
data

   Teachin Method1  Teachin Method2  Teachin Method3
0                4                2                2
1                3                4                1
2                2                6                3

In [79]:
data_new = pd.melt(data.reset_index(), id_vars = ['index'], value_vars = ['Teachin Method1', 'Teachin Method2', 'Teachin Method3'])
data_new.columns = ['index', 'Treatments', 'value']
data_new

   index       Treatments  value
0      0  Teachin Method1      4
1      1  Teachin Method1      3
2      2  Teachin Method1      2
3      0  Teachin Method2      2
4      1  Teachin Method2      4
5      2  Teachin Method2      6
6      0  Teachin Method3      2
7      1  Teachin Method3      1
8      2  Teachin Method3      3

+++++++++++++++++++ OR ++++++++++++++++++

In [72]:
data_indexed = data.reset_index()
data_new = data_indexed.melt(id_vars = ['index'])
data_new.columns = ['index', 'Treatments', 'value']
data_new

   index       Treatments  value
0      0  Teachin Method1      4
1      1  Teachin Method1      3
2      2  Teachin Method1      2
3      0  Teachin Method2      2
4      1  Teachin Method2      4
5      2  Teachin Method2      6
6      0  Teachin Method3      2
7      1  Teachin Method3      1
8      2  Teachin Method3      3

In [73]:
model = ols('value ~ C(Treatments)', data = data_new).fit()

In [74]:
anova_table = sm.stats.anova_lm(model, typ = 1)

In [75]:
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN